<mat-toolbar>
    <button mat-button class="back-button" (click)="navigateToProducts()">
        <mat-icon fontIcon="arrow_back"></mat-icon>Back</button>
        <div class="back-action">
            <h1>Edit Book</h1>
        </div>
</mat-toolbar>
<mat-tab-nav-panel #tabPanel>
    <form [formGroup]="bookForm" (ngSubmit)="saveProduct()">
        <div class="image-input-container">
            <div class="book-cover">
                <img *ngIf="books.published_works" mat-card-image src="{{books.published_works[0].cover_art_url}}" alt="">
                <img *ngIf="books.image" mat-card-image src="{{books.image}}" alt="">
              </div>
            <div class="inputs-container">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput [formControl]="title" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Author</mat-label>
                    <input matInput [formControl]="authors" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Language</mat-label>
                    <input matInput [formControl]="language" required>
                </mat-form-field>
            </div>
        </div>

        <p></p>


        <mat-form-field appearance="outline">
            <mat-label>Summary</mat-label>
            <textarea rows="6" matInput [formControl]="summary" required></textarea>
        </mat-form-field>

        <mat-card-actions class="btn-actions">
            <button mat-raised-button id="save" type="submit">SAVE</button>
            <button mat-raised-button id="cancel" type="button" (click)="cancel()">CANCEL</button>
        </mat-card-actions>

    </form>


</mat-tab-nav-panel>