<mat-toolbar>
  <button mat-stroked-button class="back-button" (click)="navigateToFormProduct()">New Book</button>
  <div class="back-action">
    <h1>Books app</h1>
  </div>
</mat-toolbar>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle
    *ngFor="let book of books">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
        <div>{{book.authors}}</div>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="image-input-container">
      <div class="book-cover">
        <img *ngIf="book.published_works" src="{{book.published_works[0].cover_art_url}}" alt="">
        <img *ngIf="book.image" src="{{book.image}}" alt="">
      </div>
      <div class="inputs-container">
        <p>Language: {{book.language}}</p>
        <p>Summary: {{book.summary ? book.summary: 'No Summary'}}</p>
        <!-- <section> -->
        <div class="example-button-row">
          <button id="actionButton" mat-mini-fab matTooltip="Delete" style="background-color: rgb(145, 71, 71);"
            (click)="deleteProduct(book)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-row">
          <button id="actionButton" mat-mini-fab matTooltip="Edit" id="save"
            (click)="editProduct(book.work_id)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <!-- </section> -->
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>