/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(189, 210, 203);
}

mat-tab-nav-panel {
  padding: 5%;
  display:flow-root
}

mat-form-field{
  display: block;
}

mat-grid-list {
  width: 100%;
  align-content: center;
}

mat-toolbar {
  padding: 5%;
  display: flow-root;
  align-content: center;
  background-color: rgb(147, 159, 155);
}

mat-expansion-panel {
  background-color: rgb(189, 210, 203);
}

mat-card {
  // margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  top: 58%;
  left: 30%;
  transform: translate(-50%, -50%);
  max-width: 450px; 
  margin: 10px; 
}

mat-card-content {
  background-color: rgb(189, 210, 203);
  padding: 25%;
}

textarea {
  min-height: 100px;
}

.image-input-container {
  display: flex;
  align-items: flex-start;
}

.image-container,
.inputs-container {
  margin-right: 20px;
}

.image-input-container img {
  margin-right: 20px;
}

.content {
  width: 50%;
}
img {
  width: 15%;
}

.example-card {
  margin-bottom: 8px;
}

.example-button-row {
  display: table-cell;
}

section {
  display: table;
  margin: 30px;
  h1 {
    padding-left: 60%;
  }
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-full-width {
  width: 100%;
  height: 100%;
}

.example-card {
  margin-bottom: 8px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
  button {
    padding-block: 5%;
  }
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content:space-between;
  align-items: center;
  div {
    justify-content:flex-end;
  }
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}