/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  height: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-card {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  top: 58%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.example-card {
  margin-bottom: 8px;
}

.example-button-row {
  display: table-cell;
}

section {
  display: table;
  margin: 30px;
  h1 {
    padding-left: 60%;
  }
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-full-width {
  width: 100%;
  height: 100%;
}

.example-card {
  margin-bottom: 8px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
  button {
    padding-block: 5%;
  }
}